@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Auth", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, @User.Identity.Name <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Settings", "Account", "Settings")</li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    </li>
</ul>

    }
}

else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Sign up", "SignUp", "Auth")</li>
    <p style="margin-left:1.2em"></p>
    <li class="divider"></li>
    <li>@Html.ActionLink("Log in", "Login", "Auth")</li>
</ul>
}