@model student_testing.Models.Settings.SettingsModel

@{
    ViewData["Title"] = "Account settings";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    <p>Username: @User.Identity.Name</p>
    <p>Email: @ViewBag.email</p>
    <p>
        <label>Old Password</label><br />
        @Html.EditorFor(x => x.oldPassword)
    </p>
    <p>
        <label>New Password</label><br />
        @Html.EditorFor(x => x.newPassword)
    </p>
    <p>
        <label>Confirm Password</label><br />
        @Html.EditorFor(x => x.confirmPassword)
    </p>
    <p><button type="submit">Submit</button></p>
}
