@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model SignUpModel

@{
    ViewBag.Title = "Sign Up";
}

<h2>Sign Up</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    @Html.ValidationSummary()
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <p>
        <label>Email</label><br />
        @Html.EditorFor(x => x.Email)
    </p>
    <p>
        <label>Username</label><br />
        @Html.EditorFor(x => x.UserName)
    </p>
    <p>
        <label>Password</label><br />
        @Html.EditorFor(x => x.Password)
    </p>
    <p>
        <label>Confirm password</label><br />
        @Html.EditorFor(x => x.ConfirmPassword)
    </p>
    <p><button type="submit">Sign Up</button></p>
</div>
}